
.logoCard{
    margin-top: 2rem;
    margin-left: 20rem;
    float: left;
}
svg{
    color: white;
}

@media screen and (max-width : 1145px) {
    .logoCard{
        margin-left: 5rem;
    }
}

@media screen and (max-width : 1023px){
    .logoCard{
        float: right;
        margin-right: 5rem;
    }
}
