@import '../scss-setup/scss-setup.scss';
.contact{
    margin: 12rem 7rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
    .text{
        h2{
            font-size: 3rem;
            font-weight: 700;
            line-height: 3.25rem;
            margin: 0 0 1.25rem 0;
            color: #051922;
        }
        p{
            font-size: 1.7rem;
            line-height: 1.8;
            font-weight: 400;
            font-family: "Open Sans",sans-serif;
        }
        .form{
            display:grid;
            margin-right: 4rem;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 6rem 6rem 10rem;
            grid-gap: 1.5rem;
            input{
                border: 1px solid #ddd;
                border-radius: 1rem;
                padding: 1.5rem;
            }
        }
        button{
            background-color: #F28123;
            color: #051922;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 15px;
            border:none;
            padding: 1.5rem 2.5rem ;
            border-radius: 5rem;
            cursor: pointer;
            margin-top: 2rem;
        }
    }
    .address{
        position: relative;
        margin-left: 3rem;
        img{
            // position: absolute;
            height: 3rem;
            width: auto;
            left: -5%;
            margin-right: 1rem;
        }
        .content{
            margin-bottom: 3.5rem;
            
            

            h3{ 
                
                font-size: 2.3rem;
                font-weight: 600;
                margin-bottom: 1rem;
                line-height: 1.75rem;
                color: #051922;
                margin-left: 1.5rem;
            }
            p{
                line-height: 1.3;
                opacity: 0.8;
                font-size: 1.5rem;
                letter-spacing: 0.1px;
                font-weight: 400;
                color: #051922;
                padding-left: 4rem;
            }
        }
    }
}

@media screen and (max-width : 990px) {
    .contact{
        display: block;
        .text{
            .form{
                display: block;
                input{
                    display: block;
                    width: 100%;
                    margin-bottom: 1rem;
                }
            }
        }
        .address{
            margin: 5rem 0 0 0;
            background-color: #fbfbfb;
            padding: 5rem 0;

        }
    }
}