@import '../scss-setup/scss-setup.scss';
.home{
    position: relative;
    background-image: linear-gradient(to  right,rgba(30, 30, 32, 0.748),rgba(30, 29, 36, 0.688) ),url('../../assets/img/background-about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // img{
        height: 100vh;
        width: 100%;
    //     opacity: 0.5;   
    // }
    .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translateX(-50%);
        
        P{
            color: #f28123;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.7rem;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            text-align: center;
        }
        h1{
            text-align: center;
            font-weight: 700;
            font-size: 4.5rem;
            line-height: 1.3;
            color: #fff;
            font-family: "Poppins",sans-serif;
            margin-top: 1rem;
            margin-bottom: 1.25rem;
        }
        
        
    }
}
.fruitkha{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 5rem 15.2rem 15.2rem;
    padding:7rem 0 10rem 6rem;
    grid-gap:5.5rem;
    .grid1{
        grid-column: 1/3;
        grid-row: 1/2;
        
        h1{ 
            margin: 0;
            font-size: 3rem;
            font-weight: 700;
            line-height: 3.25rem;
            letter-spacing: 0.1px;
            span{
                color: #F28123;
            }
        }
    }
    .grid2{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .grid3{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .grid4{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .grid5{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .grid6{
        grid-column: 3/4;
        grid-row: 1/4;
        img{
            height: 45rem;
            width: 100%;
        }
    }
    .imgicon{
        position: relative;
        img{
            height: 5.5rem;
            width: 5.5rem;
            padding: 0.5rem;
            border: 2px dotted #F28123;
            border-radius: 5rem;
        }
        h3,p{
            position: absolute;
            display: inline-block;
            margin-left: 2rem;
        }
        p{
          top:10%  ;
          font-family: "Open Sans",sans-serif;
          font-weight: 400;
          font-size: 1.6rem;
          letter-spacing: 0.1px;
          line-height: 1.8;
          color: #051922;
          opacity: 0.75;
        }
        h3{
            top: -10%;
            line-height: 2.2rem;
            font-size: 2rem;
            color: #051922;
            letter-spacing: 0.5px;
        }
    }

}
.teamProduct{
    padding: 8rem 3rem;
    .text{
        margin-bottom: 7rem;
        text-align: center;
        h1{
            display: inline-block;
            font-family: "Poppins",sans-serif;
            font-size: 4rem;
            color: #F28123;
            font-weight: 700;
            line-height: 2.25rem;
            padding-bottom: 2rem;
            border-block-end:0.3rem solid #F28123;
            span{
                color: black;
            }
        }
        p{
            font-size: 1.5rem;
            line-height: 1.8;
            color:#555;
            margin: 0;
        }
    }
    .fruits{
        display:flex;
        justify-content: space-evenly;
        
        .img{
            display: inline-block;
            position: relative;
            padding: 1.7rem 3rem 4rem 3rem;
            img{
                width: 100%;
            }
            h2,p,h1,button{
                text-align: center;
            }
            h2{
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 1rem;
                line-height: 2.25rem;
                margin: 1rem 0 0.7rem 0;
                color: #051922;
                letter-spacing: 0.1px;
            }
            p{
                opacity: 0.7;
                font-size: 1.5rem;
                font-weight: 600;
                font-family: 'Poppins',sans-serif;
                color: #051922;
                letter-spacing: 0.1px;
                line-height: 1.8;
                margin: 0;
            }
            h1{
                font-family: 'Poppins',sans-serif;
                font-size: 3rem;
                font-weight: 700;
                margin : 0 0 1.5rem 0;
                color: #051922;
                letter-spacing: 0.1px;
                line-height: 1.8;
            }
            button{
                padding: 1rem 1.7rem;
                background-color: #F28123;
                color: white;
                font-size: 1.6rem;
                letter-spacing: 0.01rem;
                display: flex;
                margin: auto;
                border: 0.1rem solid #F28123;
                border-radius: 1.8rem;
                
            }
        }
        
    }
}
@media screen and (max-width : 1060px) {
    .fruitkha{
        .imgicon{
            p{
                font-size: 1.3rem;
            }
            h3{
                font-size: 1.7rem;
            }
        }
    }
}
@media screen and (max-width : 1024px) {
    .teamProduct .fruits{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 7rem;
        .img{
            display: block;
        .img1{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .img2{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .img3{
            
            grid-column: 1/3;
            grid-row: 2/3;
        }
    }
    }
     .fruitkha{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding:7rem 3rem 10rem 3rem;
        .grid6{
            display: none;
        }
        .imgicon{
            p{
                margin-top: 1rem;
                font-size: 1.5rem;
            }
            h3{
                font-size: 2rem;
            }
        }
    }
}
@media screen and (max-width : 861px) {
    .fruitkha{
        .imgicon{
            p{
                font-size: 1.3rem;
                padding: 0;
            }
            h3{
                font-size: 1.7rem;
            }
        }
    }
}
@media screen and (max-width : 740px) {
    .teamProduct .fruits{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0 7rem;
        
    }

    .fruitkha{
        display: block;
        .grid2,.grid3,.grid4,.grid5{
            margin-top: 5rem;
        }
        .imgicon{
            p{
                margin-top: 1rem;
                font-size: 1.5rem;
            }
            h3{
                font-size: 2rem;
            }
        }
    }
}
@media screen and (max-width : 400px) {
    .fruitkha{
        .grid2,.grid3,.grid4,.grid5{
            margin-top: 9rem;
        }
        .imgicon{
            p{
                margin-top: 1rem;
                font-size: 1.5rem;
            }
            h3{
                font-size: 2rem;
            }
        }
    }
}